<h1>Manager</h1>

[<a asp-controller="Home" asp-action="Index">To home</a>]
[<a asp-controller="Secure" asp-action="Index">To secure zone</a>]
[<a asp-action="Administrator">To administrator</a>]
[<a asp-controller="Account" asp-action="Logout">Log Out</a>]