<h1>Home</h1>

<a asp-controller="Admin" asp-action="Index">To admin</a>
<a asp-controller="Admin" asp-action="Administrator">To administrator</a>
<a asp-controller="Admin" asp-action="Manager">To manager</a>